In [3]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [12]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [27]:
for num in mylist:
    if num % 2 == 0:
        print(f'Even number: {num}')
    else:
        print (f'Odd number: {num}')

Odd number: 1
Even number: 2
Odd number: 3
Even number: 4
Odd number: 5
Even number: 6
Odd number: 7
Even number: 8
Odd number: 9
Even number: 10

In [32]:
list_sum = 0

for num in mylist:
    list_sum = (list_sum+num)
print(list_sum)

55

In [41]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [43]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [44]:
mylist = [(1,2),(3,4),(5,6),(7,8),(9,10)]

In [45]:
len(mylist)

5

In [47]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)

In [59]:
for a,b in mylist:
    print(a)
    #print(b)

1
3
5
7
9

In [60]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [65]:
for a,b,c in mylist:
    print(b)

2
6
9

In [76]:
mylist = [(5,6,7),(8,9,10),(11,12,13)]

In [77]:
for a,b,c in mylist:
    print(a,b,c)

5 6 7
8 9 10
11 12 13

In [96]:
d = {'k1':1, 'k2': 2, 'k3':3}
for value in d.values():
    print(value)

1
2
3