In [4]:
#LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
#lesser_of_two_evens(2,4) --> 2
#lesser_of_two_evens(2,5) --> 5

def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [5]:
lesser_of_two_evens(2,4)

2

In [6]:
lesser_of_two_evens(2,5)

5

In [24]:
#ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
#animal_crackers('Levelheaded Llama') --> True
#animal_crackers('Crazy Kangaroo') --> False

def animal_crackers(text):
    wordlist = text.split()
    if wordlist[0][0] == wordlist[1][0]:
        return True
    else:
        return False

In [25]:
animal_crackers('Levelheaded Llama')

True

In [26]:
animal_crackers('Crazy Kangaroo')

False

In [32]:
#MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
#makes_twenty(20,10) --> True
#makes_twenty(12,8) --> True
#makes_twenty(2,3) --> False


def makes_twenty(n1,n2):
    if n1==20 or n2==20:
        return True
    elif (n1+n2) == 20:
        return True
    else: 
        return False

In [37]:
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [38]:
makes_twenty(20,10)

True

In [39]:
makes_twenty(12,8)

True

In [40]:
makes_twenty(2,3)

False

In [55]:
#OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
#old_macdonald('macdonald') --> MacDonald

#Note: 'macdonald'.capitalize() returns 'Macdonald'

def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize()+name[3:].capitalize()
    else:
        return 'Name is too short'

In [43]:
'macdonald'.capitalize()

'Macdonald'

In [56]:
old_macdonald('macdonald')

'MacDonald'

In [44]:
list=[1,2,3,4,5]

In [46]:
list[3:]

[4, 5]

In [47]:
list[:3]

[1, 2, 3]

In [67]:
#MASTER YODA: Given a sentence, return a sentence with the words reversed
#master_yoda('I am home') --> 'home am I'
#master_yoda('We are ready') --> 'ready are We'

#Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:
#>>> "--".join(['a','b','c'])
#>>> 'a--b--c'

#This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:
#>>> " ".join(['Hello','world'])
#>>> "Hello world"

def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [69]:
master_yoda('I am home')

'home am I'

In [70]:
master_yoda('We are ready')

'ready are We'

In [72]:
'---'.join(['a','b','c'])

'a---b---c'

In [85]:
#ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
#almost_there(90) --> True
##almost_there(104) --> True
#almost_there(150) --> False
#almost_there(209) --> True

#NOTE: abs(num) returns the absolute value of a number

def almost_there(n):
    if n >=90 and n<=110:
        return True
    elif n >= 190 and n<=210:
        return True
    else:
        return False

In [87]:
def almost_there(n):
    return ((abs(100-n) <= 10) or (abs(200-n) <= 10))

In [88]:
almost_there(90)

True

In [89]:
almost_there(104)

True

In [90]:
almost_there(150)

False

In [91]:
almost_there(209)

True

In [119]:
#FIND 33:
#Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.
#has_33([1, 3, 3]) → True
#has_33([1, 3, 1, 3]) → False
#has_33([3, 1, 3]) → False

def has_33(nums):
    for i in range(0, len(nums)-1):
        
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    
    return False

In [120]:
has_33([1,3,3])

True

In [121]:
has_33([1, 3, 1, 3])

False

In [122]:
has_33([3, 1, 3])

False

In [131]:
#PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
#paper_doll('Hello') --> 'HHHeeellllllooo'
#paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'


def paper_doll(text):
    result = ''
    for i in text:
        result += i*3
    return result

In [133]:
paper_doll('Hello')

'HHHeeellllllooo'

In [134]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'