In [1]:
mystring = 'hello'

In [4]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [5]:
mylist

['h', 'e', 'l', 'l', 'o']

In [8]:
mylist = [letter for letter in mystring]

In [9]:
mylist

['h', 'e', 'l', 'l', 'o']

In [22]:
mylist = [x for x in 'word two']

In [23]:
mylist

['w', 'o', 'r', 'd', ' ', 't', 'w', 'o']

In [6]:
mylist = [num**2 for num in range(1,11)]

In [7]:
mylist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
mylst = [x for x in range(0,20) if x%2 == 0]

In [16]:
mylst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [17]:
celcius = [0,10,20,34.5]

fahrenheit = [(((9/5)*temp)+32) for temp in celcius]

In [19]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [22]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)*temp)+32)

In [23]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [27]:
mylist = []

for x in [1,2,3]:
    for y in [10,100,1000]:
        mylist.append(x*y)

In [28]:
mylist

[10, 100, 1000, 20, 200, 2000, 30, 300, 3000]

In [31]:
mylist = [x*y for x in [1,2,3] for y in [10,100,1000]]

In [32]:
mylist

[10, 100, 1000, 20, 200, 2000, 30, 300, 3000]